<h1>Enter Contact info:</h1>

<form action="/new_contact" method="post">
  <input type="text" placeholder="First name" name="first" autofocus
  maxlength="20">

  <input type="text" placeholder="Last name" name="last" autofocus
  maxlength="20">

  <input type="text" placeholder="Age" name="age" autofocus
  maxlength="3">

  <input type="text" placeholder="Gender" name="gender" autofocus
  maxlength="1">

  <input type="text" placeholder="Down to get down?" name="dtgd" autofocus maxlength ="5">

  <input type="text" placeholder="Phone #" name="phone" autofocus
  maxlength="15">

  <button>Add Contact</button>
</form>
