<h1>Enter Contact info:</h1>

<form action="/new_contact" method="post">
  <input type="text" name="first" value="first">
  <input type="text" name="last" value="last">
  <input type="text" name="age" value="age">
  <input type="text" name="gender" value="gender">
  <input type="text" name="down to get down" value="boolean">
  <button>Add info</button>
</form>
